---
import MainLayout from "@/layouts/MainLayout.astro";
import TimelineComponent from "@components/sections/infographic/TimelineComponent.astro";
---

<MainLayout title="Timeline | DRADS" customDescription="Timeline page for DRADS project">
  <!-- Full Width Timeline Page -->
  <div class="bg-[#1d282f] min-h-screen w-full overflow-x-hidden overflow-y-auto -mx-4 sm:-mx-6 lg:-mx-8">
    <!-- Timeline Section - Full Width -->
    <section class="relative w-full pt-0" style="height: 2925px">
      <!-- Left background -->
      <div class="absolute bg-[#25202d] h-full left-0 top-0 w-1/2"></div>
      
      <!-- Timeline Component -->
      <div class="relative w-full h-full">
        <TimelineComponent showCalibrationDots={false} />
      </div>
    </section>
  </div>
</MainLayout> 